[submodule "paradigm"]
	path = paradigm
	url = https://github.com/JessyDL/paradigm
[submodule "extern/assimp"]
	path = extern/assimp
	url = https://github.com/assimp/assimp
[submodule "extern/SPIRV-Cross"]
	path = extern/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
